<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Peliculas app</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container">
  <br>
  
  <app-galeria [peliculas]="cartelera | slice:0:6" titulo="Películas en cartelera"></app-galeria>

  <app-galeria [peliculas]="populares | slice:0:6" titulo="Películas populares"></app-galeria>

  <app-galeria [peliculas]="popularesKids | slice:0:6" titulo="Películas populares para niños"></app-galeria>


</div>
